[2016-04-22 03:33] Eitol opened #1 "import.sql for postgres"
This is my import,sqk for running the project using postgres

CREATE TABLE usuario
(
  id integer NOT NULL,
  username character varying(50) NOT NULL,
  password character varying(100) NOT NULL,
  firstname character varying(50) NOT NULL,
  lastname character varying(50) NOT NULL,
  enabled boolean,
  lastpasswordresetdate timestamp without time zone NOT NULL,
  CONSTRAINT user_pkey PRIMARY KEY (i

[2016-04-24 00:37] Eitol opened #2 "Error BadCredentialsException"
Hello,
when I try to login from the example page gives me the following error:

**org.springframework.security.authentication.BadCredentialsException .**
![control 2](https://cloud.githubusercontent.com/assets/1043061/14764787/ffc7dfc4-098e-11e6-83d4-0ef91aa1d11e.png)

And I created the database, but not how it can be corrected

regards

[2016-04-26 17:55] cosmonova opened #3 "Logout controller"
Can you provide a method for logout.

[2016-04-27 16:29] #2 closed

[2016-04-28 16:35] szerhusenBC commented on #2
Hi, did you get it working?

[2016-04-28 16:40] szerhusenBC commented on #3
Hi, good idea! I will add that.

[2016-04-29 17:23] szerhusenBC commented on #3
Hi, I have to revise my answer. There is no need for a logout controller. The server doesn't have any state so there is no information wether a client is logged in or not. Take a look at the logout function in the JS client. You just have to delete the token on the client.

[2016-04-29 17:23] #3 closed

[2016-04-29 17:24] szerhusenBC commented on #1
Thanks for providing your import SQL! I have to see, how I can integrate that into to project.

[2016-05-10 08:18] szerhusenBC commented on #1
I didn't find a proper way to integrate this into the source code and I think it isn't necessary for the goal of the project. But I will mention your script in the readme section.

[2016-05-10 08:18] #1 closed

[2016-05-20 09:25] estebangm81 opened #4 "Parse DATETIME error"
Hello, Stephan:

First of all, thanks for sharing this project, it's great.
I simply noticed when running the application that there was a minor bug when trying to insert the users:

`2016-05-20 10:52:51.939  INFO 42707 --- [ost-startStop-1] org.hibernate.tool.hbm2ddl.SchemaExport  : HHH000227: Running hbm2ddl schema export
2016-05-20 10:52:51.970 ERROR 42707 --- [ost-startStop-1] org.hibernate.to

[2016-05-22 21:55] gigenthomas commented on #4
Hello Stephan,
Again nice work !! How are you encrypting the passwords ? I would like to create additional users.

GT

[2016-05-23 00:05] arellano-gustavo opened #5 "Problem in MAC"
I have 2 MacBooks Pro retina and your code does not work on them. However, in my Ubuntu SO it works perfect ! What could be the reason?

[2016-05-23 09:00] szerhusenBC commented on #5
Hi, I've written this project in UbuntU, but I tested it on my MacBook Pro Retina as well with no problems. Can you describe more precisely what your problem is? Can you post a stack trace. Which version auf Java and Maven do you use?

[2016-05-23 09:11] szerhusenBC commented on #4
Thank you both for your positive feedbacks!

@estebangm81 thanks for providing your fix! I've merged it right now.

@gigenthomas I will mention it in the readme section.

[2016-05-23 09:11] #4 closed

[2016-05-23 12:56] estebangm81 commented on #5
This code works fine in my MacBook Pro too.

[2016-05-23 12:57] estebangm81 opened #6 "Repeated dependency"
Hello:

I noticed there is a repeated dependency:

[code]

Kind regards

[2016-05-23 13:18] szerhusenBC commented on #6
Fixed ;)

[2016-05-23 13:18] #6 closed

[2016-05-24 03:03] arellano-gustavo commented on #5
I am using Java 1.8
Maven 3.3.3
Mac OS X El Capitan
MacBook Pro Retina 16Gb RAM 512GB HD Core i7
No error messages in the console.

After git clone I did mvn package and then java -jar
jwtdemo-0.0.1-SNAPSHOT.jar

This is the error when I am using admin-admin credentials:
[image: Imágenes integradas 1]

The same procedure works as expected in Ubuntu

Thanks!
Gustavo

2016-05-23 7:56 GMT-05:00 Esteb

[2016-05-24 07:38] szerhusenBC commented on #5
I have exactly the same configuration.

When I do 'mvn clean package' and 'java -jar target/jwtdemo-0.0.1-SNAPSHOT.jar' afterwards the app is running fine. I have no problems using the credentials for admin.

Could you fix the image link? I only see a broken markup.

[2016-05-24 14:55] estebangm81 commented on #5
That was the error I faced when the SQL to insert the users failed (please, see #4). This was fixed.

[2016-05-24 20:25] arellano-gustavo commented on #5
Thanks, Esteban !!!!!!!

That was exactly the problem.

Now it has been fixed.

Cheers,
Gustavo

2016-05-24 9:56 GMT-05:00 Esteban <notifications@github.com>:

[2016-05-24 21:47] szerhusenBC commented on #5
@estebangm81: Thanks your help. This issue is closed.

[2016-05-24 21:47] #5 closed

[2016-07-23 10:07] szerhusenBC opened #7 "Extend JwtAuthenticationTokenFilter from GenericFilterBean instead of UsernamePasswordAuthenticationFilter"
This enhancement based on the comment https://www.toptal.com/java/rest-security-with-jwt-spring-security-and-java#comment-2797220982.

Actually the JwtAuthenticationTokenFilter extends the UsernamePasswordAuthenticationFilter and the question was why it not extends the simple GenericFilterBean. I checked that and everything seems to work fine. Extending the GenericFilterBean makes the WebSecurityC

[2016-07-23 10:10] #7 closed

[2016-08-02 02:59] ka4ok85 opened #8 "Unnecessary check for username"
Looks like jwtTokenUtil.validateToken() should check only dates and should omit checking username. Since we use private key during token generation step Client has no ability to change username inside token. That's will save us one DB call for each request.

[2016-09-01 07:44] skairamk commented on #8
I think, @ka4ok85 you are right. If a malicious user tampers the token and changes the username, will it not fail while parsing the token in getClaimsFromToken??

    private Claims getClaimsFromToken(String token) {
        Claims claims;
        try {
            claims = Jwts.parser()
                    .setSigningKey(secret)
                    **# .parseClaimsJws(token)**

[2016-10-05 09:22] pellicceama opened #9 "Use OncePerRequestFilter as base class instead of GenericFilterBean"
Thanks for this great example!

I don't think it's worth opening a pull request over this, but I would recommend anyone using this pattern in production to extend OncePerRequestFilter on the JwtAuthenticationTokenFilter as opposed to GenericFilterBean as it stops the chain from calling the filter multiple times per request, which is critical when doing things asynchronously :-)

`public class JwtA

[2016-10-10 10:46] reemsky commented on #9
Thanks for the great tip!

[2016-10-11 17:45] szerhusenBC commented on #9
Thanks for your hint @pellicceama ! I changed it in the filter

[2016-10-26 16:54] jkerak commented on #9
I see this is closed, but looking at the filter example code, does this line need to be there?

`HttpServletRequest httpRequest = (HttpServletRequest) request;`

The request coming in to `doFilterInternal` is already of type `HttpServletRequest`.

[2016-10-26 18:03] jkerak opened #10 "Create UserDetails from JWT claims"
If I understand the code correctly in `JwtAuthenticationTokenFilter`, on every request for data from the api, a database call is made to build the UserDetails, based on username. Would it not be better create the UserDetails based on the claims as parsed from the JWT?

Cheers,

Jim

[2016-10-27 16:35] yepesluis opened #11 "org.hibernate.dialect.MySQL5Dialect does not support sequences"
Hi and thanks for the code. This is not an issue, it is more a doubt. You suggested that it could be possible to add a MySQL database. However, it doest not support sequences. So, what could it be done in order to not get problems with the algorithm but change the GenerationType.SEQUENCE in the class Authority:
    @GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "authority_seq")

e

[2016-10-28 07:57] szerhusenBC commented on #10
You're right. You're solution would also work and make the database calls unnecessary. In other scenarios it could be necessary to load more information than it is present in the token. Because this is just a demo I leave it as it is, but I mention your comment in the code.

[2016-10-28 07:57] #10 closed

[2016-10-28 07:59] szerhusenBC commented on #9
You're right, will fix it.

[2016-10-28 08:02] szerhusenBC commented on #9
Fixed it!

[2016-10-28 08:02] #9 closed

[2016-10-28 08:05] Neuw84 commented on #11
With @GeneratedValue(strategy=GenerationType.IDENTITY) it should work

[2016-10-28 09:00] szerhusenBC commented on #8
@ka4ok85 You are right, for simple validation it is completely sufficient to just check the token integrity. But it can be necessary in some scenarios to do more checks (e.g. against the db). Because this is just a demo I will leave it as it is and mention you comment in the code.

[2016-10-28 09:00] #8 closed

[2016-10-28 12:17] szerhusenBC commented on #11
Yeah, you're right. I will mention this in the documentation.

[2016-10-28 12:17] #11 closed

[2016-10-29 15:43] elenadobrescu21 opened #12 "Getting users from database"
I am trying to get users from a database.
I have added the following code to the application.yml file,
    hibernate:
      # possible values: validate | update | create | create-drop
      ddl-auto: create-drop
  datasource:
    url: jdbc:mysql://localhost:3306/user_management
    username: root
    password:
    driver-class-name: com.mysql.jdbc.Driver`

I have a database with one user, but when

[2016-10-31 15:07] yepesluis commented on #11
Yes thank you.  I used GenerationType.AUTO, it worked!

[2016-11-06 13:53] igoralves98 commented on #12
Here my working application.yml with MySQL database:
[code]

Hope helps u.

Good luck.

[2016-11-23 11:03] vanrin opened #13 "Authentication process."
Can anyone explain me how the password comparison work in this project?

[2016-11-23 22:11] #12 closed

[2016-11-29 10:59] krasowskiM commented on #13
There is no "password comparison" as the passwords aren't stored in the dbs as a strings. What they stored as are hashes, and you can see in the security configuration there is PasswordEncoder instance invoked - BCryptPasswordEncoder. And on registration process it should hash the password and store the hash in db or some other repository and when user wants to log in, it matches the password inpu

[2016-11-29 11:54] szerhusenBC commented on #13
Thanks to @krasowskiM, this is a good explanation about what Spring Security does here.

@vanrin I didn't change the password comparison mechanics from Spring Security. So if you want to know in depth how it works, please consult the Spring docs, guides etc. In addition you could take a look into their source code are ask in their forums. I hope this answers satisfy you enough, so I close this tic

[2016-11-29 11:54] #13 closed

[2016-12-11 23:57] psotos opened #14 "Getting authentication errors with new pages"
Hi Stephan!

I'm probably doing something wrong but I had no way to contact you other than creating an issue because I couldn't find your email address. You may contact me at psotos at epicproportionstour dot com. I see you are also in the music business which is super cool!

In any case, I have created a new RestController and mirrored the code from the MethodProtectedRestController, and my new R

[2016-12-20 14:34] Epsuchti commented on #14
I'm in the similar Problem.

I think in your case it is because of the Wrong Call of "/hellotest".

Did you try to open the "hellotest" in the Browser?

Or did you changed the function "adminServiceBtn" to call your Function?

If you tryed to open it in the Browser you are on the same Problem as i am.

I don't know how to submit the JWT in the Request Header if the user types a different URL to th

[2016-12-20 18:53] krasowskiM commented on #14
@psotos
It may not be the issue, but how does your authorities interpretation work? I had a similar problem when I wanted to get rid of the "ROLE_" part of authority string and Spring Security works only with this kind of strings as authorities - in your case "hasRole(ROLE_ADMIN/GM)". So what I did to avoid the problem I  stored the roles in the db in the form with "role" part and referred in thei

[2016-12-22 03:50] psotos commented on #14
I figured it out. You simply need to call the auth page with a POST request which has some JSON which passes the username and password. That will then return a valid token.
{
username: admin,
password: admin
}

Now you will be able to make pure restful calls to the other services. We can close this issue.

[2016-12-23 15:42] Pyohwan opened #15 "Always load from DB"
Hello. I am interested in your project.
You comment "It is not compelling necessary to load the use details from the database." in JwtAuthenticationTokenFilter class.
I look at the JwtUserDetailsServiceImpl class with debug mode. when view web page, always access loadUserByUsername method. So still connect database.

[2017-01-06 20:01] miguelC opened #16 "How to configure with non-primary JPA Entity Manager"
Hi Stephan, I am trying to incorporate your example into an existing spring boot application to secure some REST services. I have set up 2 separate persistence contexts, one for the application (primary) and one for the spring security from this project.
I am getting an error when I run a unit test saying that it could not instantiate a bean because it can't find the primary entity manager.

    d

[2017-01-17 22:08] rsjorslev opened #17 "Why is there both a User and JwtUser class?"
Firstly thank you for sharing this - i finally managed to implement a working Spring Security + JTW looking at your project here!

I am not sure i understand why these 2 classes exists in the project and why the `loadUserByUsername()` method in `JwtUserDetailsServiceImpl` is not just returning a custom user class that implements `UserDetails`?

I changed my own implementation to this:

[code]

whe

[2017-01-22 19:19] szerhusenBC commented on #16
I haven't done that yet, too. But maybe this links could help you:

- https://github.com/spring-projects/spring-data-examples/tree/master/jpa/multiple-datasources
- http://www.baeldung.com/spring-data-jpa-multiple-databases
- http://docs.spring.io/spring-boot/docs/1.4.3.RELEASE/reference/htmlsingle/#howto-use-two-entity-managers

[2017-01-22 19:19] #16 closed

[2017-01-22 19:23] szerhusenBC commented on #15
Hi, this comment based on another question: https://github.com/szerhusenBC/jwt-spring-security-demo/issues/10

The comment means, that you mustn't load the user details from the database at that point, but for this demo I'm leaving it as it is. For example you could instead read the user details from the credentials in the token.

[2017-01-22 19:23] #15 closed

[2017-01-22 19:25] szerhusenBC commented on #14
Hi, thank you both for clearing this question. I'm closing this ticket now.

[2017-01-22 19:25] #14 closed

[2017-01-22 19:35] szerhusenBC commented on #17
You're welcome!

I'm returning the "JwtUser" instead the entity bean "User" directly because it is a good practice not to expose entity beans directly. Entity beans may have information that you don't want to expose outside your application. So I'm mapping the User to the JwtUser and exposing this as a DTO (Data Transfer Object).

But it is totally fine, if it is okay for you to expose the entity

[2017-01-22 19:35] #17 closed

[2017-01-23 14:19] miguelC commented on #16
Thanks, I have seen and followed those links for setting up my two entity manage factories. Problem was that both were set as primary. I set the entityManagerFactorySecurity as primary and it works fine. What I found is that the Repository objects need a @Transactional annotation with the name of the transaction manager bean to make sure that they use a particular transaction manager, these links

[2017-01-23 16:20] szerhusenBC commented on #16
Thanks for sharing this infos. I recommend to use Stackoverflow or ask in the Spring forum for this special problems.

[2017-01-23 17:38] miguelC commented on #16
No problem, glad if my solution can help others. By the way, thank you very much for this demo app, it works great :).

[2017-01-23 23:02] szerhusenBC commented on #16
You're welcome ;)

[2017-01-30 06:31] Lelv opened #18 "AuthenticationManagerBean"
Hey, great job with this project - sadly for me I can't get it to work. I'm trying to implement it on a project for my college that's making us transition from the good old cookies to tokens, and I tried to do it as you but I'm getting an error that the authenticationManager can't be autowired on the authenticationrestcontroller - do you know why it could be? Thanks in advanced

[2017-01-30 08:28] szerhusenBC commented on #18
This are too less informations for my to say anything. Can you post the stacktrace of the exception and the class you trying to autowire the AuthenticationManager?

[2017-01-31 06:08] jnuc093 opened #19 "does the PersonRestService.java can be implemented by mybatis3.x?"
i want to use this demo as the micro service architecture, does the PersonRestService.java   can be implemented by mybatis3.x? and add the token expired,the token can be insert into the table as a record with a expired time column.

[2017-01-31 09:09] szerhusenBC commented on #19
Hi! Yes, of course you can implement the PersonRestService with MyBatis. Please search the web how to do that in Spring in detail. You rather can implement this service in any way (or with any data source) you want. You just have to look how to integrate it in Spring.

To the second part of your question:
I'm not sure what you mean. The token has actually a field (or claim) "created". You could ch

[2017-01-31 09:15] szerhusenBC opened #20 "Add expire and refresh feature for tokens"
There should be a possibility to give a tokens a specific validity duration so that tokens expire after a certain interval. Furthermore there should be a possibility in the JS client to refresh the token. Maybe there is a kind of countdown in the UI, so that a user can see if a token expires.

- Check expiration in org.zerhusen.security.JwtAuthenticationTokenFilter#doFilterInternal
- Token refresh

[2017-01-31 09:27] jnuc093 commented on #19
Yes i want to want to blacklist tokens. but as you advoise,i should does't use it ,and use **The token has actually a field (or claim) "created"** instead. Thank you very much!

[2017-01-31 09:27] #19 closed

[2017-02-04 23:18] Lelv commented on #18
Thanks for the amazingly fast response.

I was trying to use the Autowired AuthenticationManager on the AuthenticationController, but spring told me that it wasn't able to autowire it. I was able to fix it by adding the following to the WebSecurityConfig:

`    @Bean(name = BeanIds.AUTHENTICATION_MANAGER)
    public AuthenticationManager authenticationManagerBean() throws Exception {
        retur

[2017-02-06 10:28] paolog22 opened #21 "oauth2 ? :)"
thanks man this is so helpful for me..i am waiting for more :) can i folk this ? thanks

[2017-02-06 16:57] szerhusenBC commented on #21
You're welcome!

I think at the moment I don't have enough time for this feature.

Of course you can fork this ;)

[2017-02-07 10:09] paolog22 commented on #21
i can't login via postman. it says "response body not found"

[2017-02-21 17:00] vivdso opened #22 "Security - Implementation"
Thanks for putting this online, I did try to implement this in my project, Sending JWT tokens as my Header.
for some reason, I am getting 403 forbidden error.  I am not sure, what I am doing wrong or if I am missing any configuration. I have put the project on git hub, If someone can point me what the issue is.
https://github.com/vivdso/SpringAuthentication

Please assist.

[2017-02-21 18:11] szerhusenBC commented on #22
Please give some more information. Which request returns the 403?

Take a look at your WebSecurityConfig. There are some things missing that I have in my WebSecurityConfigurerAdapter. Perhaps you get a better understanding of how this demo works if you take a look at the video I linked in the Readme.

[2017-02-21 18:15] vivdso commented on #22
Sure,  I will look at it.
Any API call fails, I have two of them below is the API calls

http://localhost:8080/auth method post Content-Type appliction/json body:{"username":"user","password":"sample"} Response should be a jwt token

Try the autheticated url: http://localhost:8080/order
Header "Authorization":"{$jwtToken from previous step}"
Actual Result: :( Error : 403 forbidden, this should be

[2017-02-24 11:30] jsbUSMC commented on #22
Shouldn't the header be set to:

[code]

I'm not sure if this detail is important or not, but from my understanding of the specification, JWTs should be declared as Bearer tokens in the Authorization header.

[2017-03-05 17:50] saravanareddy opened #23 "application.yml property to customize auth url"
Hi, Is there a property to customize /auth to something else? Thanks in advance.

[2017-03-05 18:16] saravanareddy commented on #23
I just came across the answer, here it is: jwt.route.authentication.path

[2017-03-05 18:16] #23 closed

[2017-03-06 16:09] Gbryson commented on #7
This post was a big help. I was using this example to set up a project using JWT.   I had the JwetAuthenticationTokenFilter setup to extend OncePerRequestFilter.  This worked fine when running locally with HQSLDB and embedded Tomcat.   I have a requirement to deploy in Glassfish.    This solution didn't work, for some reason it looked like the SecurityContext was getting overwritten  or reset some

[2017-03-10 08:16] monoranjang opened #24 "authToken is returned as null in the latest code"

[2017-03-10 08:21] #24 closed

[2017-03-10 08:21] monoranjang commented on #24
It wrong user/password is entered, then it returns null.

[2017-03-10 08:58] szerhusenBC commented on #21
I thought about this feature and I decided not ti implement this. On the one hand I don't have enough time for that and on the other hand this project should be just a case study for how to implement simple JWT with Spring Boot. So I close this ticket now.

BTW.: There already exists an interesting project for this under https://github.com/pac4j/spring-security-pac4j

[2017-03-10 08:58] #21 closed

[2017-03-22 04:13] mupi2015 opened #25 "User credentials validation"
Thanks for sharing this wonderful project. One thing I don't understand how is it validating the user password(I understand the userName validation part and retrieving user from db using userName)? I have gone through the whole project and even executed the same successfully, If i provide an Incorrect password it is showing BadCredentialsException in UI. would you please explain how is it happenin

[2017-03-22 07:11] VishnuGupta16 opened #26 "Please check below error while running application"
___       ________   _____            _                ____
      / / |     / /_  __/  / ___/____  _____(_)___  ____ _   / __ \___  ____ ___  ____
 __  / /| | /| / / / /     \__ \/ __ \/ ___/ / __ \/ __ `/  / / / / _ \/ __ `__ \/ __ \
/ /_/ / | |/ |/ / / /     ___/ / /_/ / /  / / / / / /_/ /  / /_/ /  __/ / / / / / /_/ /
\____/  |__/|__/ /_/     /____/ .___/_/  /_/_/ /_/\__, /  /_____/\___/_/ /_/

[2017-03-22 11:31] szerhusenBC commented on #26
Please do not just throw a stacktrace into a ticket. I need some more information:

* Maven version
* JDK (Oracle or OpenJDK?)
* How did you start the app?
** Directly in command line?
** by java -jar
** by Maven plugin (spring-boot:run)
** with an IDE (e.g. Eclipse or Intellij Idea)

I've tested it by running it with Maven v3.3.3 from command line, with Intellij Idea and with "java -jar". All cas

[2017-03-22 11:31] szerhusenBC commented on #26
I'm using JDK 1.8 from Oracle.

[2017-03-22 11:41] szerhusenBC commented on #22
I didn't find the need of the bearer scheme in any specification but it seems to me that it is the typical way to mark a bearer token. I will adapt it to the project with another ticket.

[2017-03-22 11:41] #22 closed

[2017-03-22 11:44] szerhusenBC opened #27 "Follow bearer scheme in authorization header"
Typically a bearer token in the request header is marked like this

`Authorization: Bearer {$jwtToken}`

This should be adapted in this project.

[2017-03-22 11:51] szerhusenBC commented on #18
It may be the problem that you're not using Spring Boot.

I made this demo to explicitly make a setup for SpringBoot because at that time I didn't find any proper setup that is running out if the box. But I found existing demos for "standard" Spring configurations. Perhaps you should google a little bit for that ...

Because this question isn't Spring Boot related I will close it now. If you found

[2017-03-22 11:51] #18 closed

[2017-03-22 11:53] szerhusenBC commented on #27
This ticked bases on this discussion: https://github.com/szerhusenBC/jwt-spring-security-demo/issues/22

[2017-03-22 12:16] VishnuGupta16 commented on #26
Thanks for help.
It seems to have have some build issue.

On Wed, Mar 22, 2017 at 5:01 PM, Stephan Zerhusen <notifications@github.com>
wrote:

[2017-03-22 12:25] szerhusenBC commented on #26
OK. Do you need any further help or can I close the ticket?

[2017-03-22 13:29] VishnuGupta16 commented on #26
Yes please close the ticket.

On Wed, Mar 22, 2017 at 5:55 PM, Stephan Zerhusen <notifications@github.com>
wrote:

[2017-03-22 13:47] mupi2015 commented on #25
by any chance is it getting validated from WebSecurityConfiguration.configureAuthentication and Then authenticationManager.authenticate from the controller?

[2017-03-23 02:34] mupi2015 commented on #26
It seems to be a problem with eclipse based ide(spring sts e.t.c). If you import the same project with with Intellij Idea or run it from cli the problem will disappear.I have faced the same , could not find any answer from google.

[2017-03-23 03:51] VishnuGupta16 commented on #26
Thanks, it worked

Thanks
Vishnu Gupta
9886966405
Sent from my iPhone

[2017-03-23 04:27] alphabytes commented on #25
@mupi2015  i guess the UsernamePasswordAuthenticationFilter is executed which takes care of authenticating username and password.

when this authenticationTokenFilterBean is executed it wont find any authToken on the very first request of login... and will skip to the next filter in chain which happens to be UsernamePasswordAuthenticationFilter

find this code below in WebSecurityConfig file.
http

[2017-03-23 07:35] #26 closed

[2017-03-23 12:40] mupi2015 commented on #25
thanks, @alphabytes, yes it makes sense now. After checking this[documentation ](http://docs.spring.io/spring-security/site/docs/current/apidocs/org/springframework/security/web/authentication/UsernamePasswordAuthenticationFilter.html) i got a little idea.

[2017-03-23 13:36] szerhusenBC opened #28 "Upgrade to Spring Boot 1.5"
The title says it all ;)

[2017-03-23 13:45] szerhusenBC commented on #25
Sorry for answering that late! The BadCredentialsException is thrown in _org.springframework.security.authentication.dao.DaoAuthenticationProvider#additionalAuthenticationChecks_.

This method is called in the method _org.zerhusen.security.controller.AuthenticationRestController#createAuthenticationToken_ where i call authenticationManager.authenticate(). I just autowire the AuthenticationManager

[2017-03-23 13:45] #25 closed

[2017-03-24 13:42] mupi2015 commented on #24
would you explain?

[2017-03-28 16:42] Bash-Ali opened #29 "Use Basic Authentication"
Hi Stephan, and thank you for the effort in this project.
How and what do I need to do to use Basic Authentication instead of the raw JSON username and password to request a token? I am unable to find any spring boot project/example that uses both Basic authentication and JWT to maximize security.
Thank you

[2017-03-30 17:02] bfwg commented on #29
Hey, @Bash-Ali

You can use basic authentication the same way as `formLogin`
Here is a good guide on how to configure it: https://spring.io/guides/gs/securing-web/
I wrote an demo app that use `formLogin` with JWT, the front-end is written in AngularJS.
Angular login post request:
[code]
https://github.com/bfwg/springboot-jwt-starter/blob/master/src/main/resources/static/js/app.js#L70

This is how

[2017-03-31 03:22] snehaananthan opened #30 "Using MySQL database for user authentication"
Hi Stephan,

This project is really awesome. I'm learning a lot of Spring security from this. I have one question.

Connecting to MySQL database for user authentication. However, it returns Bad Credentials exception when I try to login.

In debug mode, I observed that at the time of logging in, it tries to extract username from the JWT token (the authentication request to the login endpoint will n

[2017-04-01 13:22] mupi2015 commented on #30
This is the answer you are looking for [https://github.com/szerhusenBC/jwt-spring-security-demo#using-another-database](https://github.com/szerhusenBC/jwt-spring-security-demo#using-another-database)
@snehaananthan

[2017-04-01 17:45] szerhusenBC commented on #30
@mupi2015 thanks for your help!

[2017-04-01 17:45] #30 closed

[2017-04-01 17:47] szerhusenBC commented on #29
@bfwg Your're welcome! And thank you for your help!

[2017-04-01 17:47] #29 closed

[2017-04-05 16:33] danielGz opened #31 "Why is there a need to have UsernamePasswordAuthenticationFilter?"
Hello, I've set up your project with some modifications to run without spring boot and noticed that having `addFilterBefore(authenticationTokenFilterBean(), UsernamePasswordAuthenticationFilter.class);` causes the request flow to stop, specifically in these lines under `UsernamePasswordAuthenticationFilter`:

[code]

since `obtainUsername` does nothing but call `request.getParameter(usernameParame

[2017-04-06 15:03] danielGz commented on #31
To give more context, I know you extended `UsernamePasswordAuthenticationFilter` in the past, seems to me the best approach because this way there is an extra step in the chain process.

[2017-04-07 19:44] taherabdo1 opened #32 "InternalAuthenticationServiceException"
whenever I try to login it throws this exception (org.springframework.security.authentication.InternalAuthenticationServiceException), and I don't know why.

[2017-04-07 20:45] danielGz commented on #32
That's because when you configured your authentication manager in your spring security configuration class you call `userDetailsService` to set your service implementation, which returns a `DaoAuthenticationConfigurer`, that means a `DaoAuthenticationProvider` will be used to authenticate...

In short spring security is going to the database to check for username and password match without you hav

[2017-04-08 08:27] bfwg opened #33 "STATELESS is causing SecurityContextHolder.getContext().getAuthentication() always be null."
`SecurityContextHolder.getContext().getAuthentication() == null` seems to be always null in https://github.com/szerhusenBC/jwt-spring-security-demo/blob/master/src/main/java/org/zerhusen/security/JwtAuthenticationTokenFilter.java#L42

[2017-04-13 13:15] igoravramovic opened #34 "Response for preflight has invalid HTTP status code 401"
I have created angular 2 client
But i receive this error when i call /user method

Response for preflight has invalid HTTP status code 401

[2017-04-13 15:24] bfwg commented on #34
Are you running your Angular 2 client on a dev-server? Like is it running on a different port(4200)
?

[2017-04-13 15:28] igoravramovic commented on #34
Yes i do
I have tried with setting up CorsFilter, as explained in official spring guide to cors, but i still receive the message
What is interesting is that i log in and then receive this message when i call /user method

[2017-04-13 15:41] bfwg commented on #34
Sounds to me like the request header  from Angular 2 is wrong.  Have you set   `withCredentials: true`?
[code]

[2017-04-13 21:58] igoravramovic commented on #34
Still the same problem

Here is my code

Spring Cors Filter:
@Component
@Order(Ordered.HIGHEST_PRECEDENCE)

public class SimpleCORSFilter implements Filter {

	@Override
	public void init(FilterConfig fc) throws ServletException {
	}

	@Override
	public void doFilter(ServletRequest req, ServletResponse resp, FilterChain chain)
			throws IOException, ServletException {
		HttpServletResponse respons

[2017-04-14 07:23] bfwg commented on #34
I see, you should remove the `Bearer`. Like this: `headers.append('Authorization', token);`.

[2017-04-14 13:35] szerhusenBC commented on #34
@bfwg You're right, I didn't include the "Bearer" prefix, yet. But I've opened a ticket for that.

[2017-04-14 13:42] szerhusenBC commented on #32
@taherabdo1 is that fixing your problem?

[2017-04-15 15:49] arkaprovo commented on #32
InternalAuthenticationServiceException can happen in many cases. @taherabdo1  my first question to you did you make any changes in the project i.e custom alterations e.t.c if Yes please mention that.
Right now what I can suggest look into the database for in case if there is any inconsistency. I have faced similar problem before and figured it was related to data inconsistency.

@danielGz I think

[2017-04-15 15:59] arkaprovo commented on #33
It is Until [this  ](https://github.com/szerhusenBC/jwt-spring-security-demo/blob/master/src/main/java/org/zerhusen/security/controller/AuthenticationRestController.java#L50)method successfully get executed. and it totally makes sense because you don't want unauthenticated users to grant access to your api.

[2017-04-16 16:49] szerhusenBC commented on #34
@igoravramovic could you fix your problem?

[2017-04-16 17:26] taherabdo1 commented on #32
Hi guys, however danielGz's comment opened my eyes on the problem this was not the problem in my case, the issue resolved when I added (	@Query("Select u  From User u where u.username =:username") ) on "findByUsername" method in user repository.
so my problem was in the data access layer, and still I don't know why spring data doesn't work properly, as the method should work without this annotatio

[2017-04-16 17:39] szerhusenBC commented on #32
OK, that's really strange,  but I'm glad to hear that you fixed your problem this way. Since the problem isn't related to this demo anymore I close this ticket.

[2017-04-16 17:39] #32 closed

[2017-04-16 19:07] arkaprovo commented on #33
@bfwg & @szerhusenBC  I have a question, assuming doFilterInternal method is setting Authentication with every valid request **(by using `SecurityContextHolder.getContext().setAuthentication(authentication);`**)
If there are multiple requests will there be a confliction? For example, if I am using the authentication for Authorization **(`@PreAuthorize("@validator.isAuthorised(true,#request,authent

[2017-04-19 14:20] igoravramovic commented on #34
Sorry for not responding more quickly, i was not able to take time to try proposed solution
No, this didn't solve my problem i still receive same error message

[2017-04-24 19:12] jmw5598 commented on #34
@igoravramovic

I was having the same issue with the prefight OPTIONS request return a 401.  When the OPTIONS request is sent from angular 2, it's sent without the Authorization header.  Spring Security tries to authenticate the request without the header and returns a 401.  In the `JwtAuthenticationTokenFilter`, the token is null.

I added a filter before the `JwtAuthenticationTokenFilter` filter

[2017-04-25 02:28] a1ucard opened #35 "How possible you can autowired Spring bean in filter layer?"
Hi,

I follow your tutorial but my service bean is null in Filter Layer? How can you possible to inject bean into Filter layer ?

[2017-04-25 08:42] szerhusenBC commented on #34
@igoravramovic is this helping you?

[2017-04-27 22:43] arashkhalesi opened #36 "Rest service - User has been authenticated but no Mapping found for HTTP request"
I am doing rest modules in Micro-services No JSP or Login page.
User is authenticated
[JwtAuthenticationTokenFilter.java:56]authenticated user admin, setting security context

PageNotFound [DispatcherServlet.java:1172]No mapping found for HTTP request with URI [/rest-moudle/test] in DispatcherServlet with name 'dispatcherServlet'

Below is my WebConfig. configure(HttpSecurity httpSecurity)
I prett

[2017-04-27 23:05] jmw5598 commented on #36
@arashkhalesi
Have you possibly mistyped the targeted endpoint? Did you mean to `/rest-module/test` and not `/rest-moudle/test`.

Also for your security config

     .antMatchers("/**").permitAll()

[2017-04-28 00:58] arashkhalesi commented on #36
Thanks for quick response. I just typed that in my message as I did not want to post my actual url in public. 
I had this problem while ago in Spring 4  basic auth  while with no reason it did not work with URLs which was defined  as static in another class.
like @RequestMapping value=MyConstantURL.login) 
I am going to dig in to my code again to see maybe something is missing . however I apprecia

[2017-04-28 04:35] arashkhalesi commented on #36
I fixed the issue. I had request mapping in class level. I removed that and added to requestMapping in controller level so then issue was fixed.

[2017-04-28 04:35] #36 closed

[2017-04-28 10:06] szerhusenBC commented on #36
@jmw5598 Thank you for helping here!

[2017-04-28 17:31] arashkhalesi opened #37 "Encoded password does not look like BCrypt"
I generated hash password in https://bcrypt-generator.com/
Client: Postman

DB password:        :$ 2y$10$cZWIQLCT.AUu6/f.54ri/uX5VeMAANDY1f3wLh8NpVi6.mljPh7DO

enc                        : $2y$10$cZWIQLCT.AUu6/f.54ri/uX5VeMAANDY1f3wLh8NpVi6.mljPh7DO
raw                        : $2y$10$cZWIQLCT.AUu6/f.54ri/uX5VeMAANDY1f3wLh8NpVi6.mljPh7DO
Password param   : $2y$10$cZWIQLCT.AUu6/f.54ri/uX5VeMAANDY1f

[2017-04-28 18:28] arashkhalesi commented on #37
Fixed. I removed @EnableGlobalMethodSecurity and instantiated explicitly in WebConfig.

[2017-04-28 18:29] #37 closed

[2017-04-28 20:21] jrcastillo commented on #34
I'm not sure if this can help, but try putting
[code]
On your `securityConfig.java` class. As this ignores and let `http:options` request pass through.

[2017-05-05 13:55] sourava opened #38 "How to integrate it with mongodb"

[2017-05-13 15:33] MoAli2016 opened #40 "Can I use Spring web MVC instead of Spring Boot?"
I am Spring beginner, wanting to learn spring by hand, can I adapt the code to run with spring web mvc instead of Spring Boot?

[2017-05-16 19:00] krasowskiM commented on #40
Yeah totally. I've made the project like this. The difference is that you need to run the application on a tomcat that isn't embedded and the configuration cannot be auto.

[2017-05-17 07:19] szerhusenBC commented on #40
@krasowskiM Thanks for your answer!

@MoAli2016 Do you need further help? I would close this ticket otherwise.

[2017-05-17 07:24] szerhusenBC commented on #38
Please take a look here [http://stackoverflow.com/questions/29606290/authentication-with-spring-security-spring-data-mongodb](http://stackoverflow.com/questions/29606290/authentication-with-spring-security-spring-data-mongodb)

or search Google with something like "spring security with mongodb".

[2017-05-17 07:24] #38 closed

[2017-05-24 14:45] mupi2015 commented on #34
@jrcastillo you are absolutely right, and this should solve OP's problem except he has to remove the Bearer part. To understand the original problem, please follow this link https://stackoverflow.com/questions/38368794/angular-2-basic-authentication-not-working

[2017-05-31 15:28] silentken opened #41 "How can I refresh after the token time expires?"
Hi, Thank you for your opensource.
I am practicing with your source. However, it did not refresh after the token time expired.
I hope that the token is refreshed without sign in again. Please let me know what you need to refer to.

[2017-06-12 21:17] neonds opened #42 "How to implement a microservices architecture using this aproach without Oauth?"
I've heard about microservices using oauth2, but for me it's really hard to learn oauth2, I mean, I understood the Oauth2 architecture but in a theorical aproach, in practice it seems to be more dificult. A lot of configuration I think, maybe for huge project. It is enough for me a lot of configuratoin using spring security that I just learn basics before.

Why not configure this project as a comm

[2017-06-13 04:21] harshavmb opened #43 "java.lang.ClassNotFoundException: com.fasterxml.jackson.databind.module.SimpleModule"
Hi,

Having run your code, I got the below error.

[code]

[2017-06-13 07:15] szerhusenBC commented on #40
Closing the ticket now due to inactivity.

[2017-06-13 07:15] #40 closed

[2017-06-13 07:28] szerhusenBC commented on #34
@igoravramovic is not replying since 19th Apr so I close this ticket now.

[2017-06-13 07:28] #34 closed

[2017-06-13 08:48] szerhusenBC commented on #35
Sorry for answering that late! Do you still have that problem or could you solve it? In case that not can you be more precise (do you mean the UserDetailsService is null in the JwtAuthenticationTokenFilter)?

[2017-06-13 09:00] szerhusenBC commented on #43
Hi @harshavmb, you're welcome!

I can't reproduce your error. For my the app runs fine!

"com.fasterxml.jackson.databind.module.SimpleModule" is part of the library "jackson-databind" which is transitively bound by "spring-boot-starter-rest v.1.4.3" in version 2.8.5. It must be there. Did you change anything (maybe in the dependencies)?

BTW: I will upgrade Spring Boot to the actual version but no

[2017-06-13 09:15] #28 closed

[2017-06-13 09:17] harshavmb commented on #43
hmm., strange! I couldn't see *SimpleModule *class in version 2.8.5. So, I
had to upgrade to 1.5.3 and 2.8.8 version was downloaded and the issue got
fixed.

Okay, could be an issue with my local maven as I saw *SimpleModule *in
lower versions as well as higher versions of *jackson-databind*. Anyways,
thanks for checking.

On Tue, Jun 13, 2017 at 2:30 PM, Stephan Zerhusen <notifications@github.com

[2017-06-13 09:18] szerhusenBC commented on #41
Hi! I will implement this in the next time under ticket #20

There will be an endpoint to refresh your tocken. Please wait for this ticket being implemented.

[2017-06-13 09:18] #41 closed

[2017-06-13 09:26] szerhusenBC commented on #42
Hi @neonds!

I had the same idea for a "spring-boot-starter-jwt", but unfortunately I didn't find the time for that yet :/

But please take a look in the readme section for ["Interesting projects"](https://github.com/szerhusenBC/jwt-spring-security-demo#interesting-projects). Perhaps it will help you ...

To be honest when I created this demo I didn't think of big microservice architectures. My in

[2017-06-15 09:31] vaibhavdhawan opened #44 "Send a custom error message if token expired"
How to send a custom status code (or message) when the token has expired.

Tried subclassing the AuthenticationException subclass and threw exception in validateToken method. However it doesnt reach the commence method of the entry point class and the method instead throws 500 error.

[2017-06-20 05:28] shrimankumbar opened #45 "If 'Authorization' header is missing then request is processing"
Hi,

Actual:If i am not passing Authorization header then the requesting is  processing(serving),
Expected:service should not serve/process if the 'Authorization' header is missing,it should only for ignored antmatchers.

[2017-07-07 07:41] KiranNaikwade commented on #42
Can you please share one example "JWT with micro service architecture" ?
EX :  There will be two servers : Server-A and Server-B
Server-A will generate a token and Server-B will validate the token.

[2017-07-07 08:03] chorpitman opened #48 "refresh token"
Hi, tnx for big work.
I have a question. When i have to use refresh token?

[2017-07-07 09:35] szerhusenBC commented on #48
The token contains a field with the expiration date ("exp" is the key in the claims map). You can use it to verify if a token is expired and isn't valid anymore. In this case you have to refresh your token so that it doesn't expire.

[2017-07-07 09:35] #48 closed

[2017-07-07 09:39] szerhusenBC commented on #42
@KiranNaikwade nice idea, but unfortunately I don't have time for that. Maybe anyone else could do that?

[2017-07-07 09:39] #42 closed

[2017-07-07 09:41] chorpitman commented on #48
User gets an access token, stores it in his local storage, the token expires, he knocks on some URL, the filter say that the token expired and returns 401.
UI should check expire day? And if it comes to end ui should send request to refresh token?

[2017-07-07 10:20] szerhusenBC commented on #48
That seems to be a bug. The refresh endpoint is secured like a normal endpoint. So a token that is expired will be rejected and you have no chance to refresh it. I will fix that.

[2017-07-07 10:41] chorpitman commented on #48
may be better implement one controller which will give refresh and access token. And then use refresh token for get access token.

[2017-07-23 08:00] a4amitava opened #49 "User Roles at front end"
Hi, Did not find on how to get corresponding user roles in front end.
Pls help to give some direction . I am able to get the token in my angular front end . So the authentication is fine. How about  the roles to read ? If the token also has the role information then which api or helper  can help to read the roles from token in the angular app.

Pls help .

[2017-07-23 11:45] szerhusenBC commented on #49
Hi!

At first you have to add the roles information as a claim attribute in the token at the server side. You can do that in the method org.zerhusen.security.JwtTokenUtil.generateToken().

Then you can decode the token and get the claim information (which then contains your roles information) in your Angular client. I'm using the library "jwt_deocde" to do that. You can find the neccessary package

[2017-07-24 13:56] a4amitava commented on #49
Thank You so much for your quick response . I will be following your suggestions and will let you know the outcomes .

Thanks .

[2017-08-01 09:54] chorpitman opened #50 "TimeProvider vs DefaultClock"
Hello, why you do not use class Default Clock which using in jjwt library?

[2017-08-03 15:22] szerhusenBC commented on #49
I am closing this Ticket now. If you still have problems please let me know.

[2017-08-03 15:22] #49 closed

[2017-08-03 15:29] szerhusenBC commented on #50
Thanks for the hint! Didn't saw that class before ;)

I'll change that.

[2017-08-03 16:01] a4amitava commented on #49
Hi Stephan ,
I have followed your suggestion .  I am able to fetch the roles .
Thank you so much for your guidance.
Sorry for this late reply. Please mark my question as resolved .

[2017-08-13 22:04] szerhusenBC commented on #49
You're welcome ;)

[2017-08-16 22:42] szerhusenBC commented on #35
Due to inactivity I'm closing this ticket now.

[2017-08-16 22:42] #35 closed

[2017-08-21 08:14] #27 closed

[2017-08-21 08:19] szerhusenBC commented on #33
@bfwg It is not always null, only in the case, that there is no authorization request header. The problem is, that the filter now filters **every** request and many times there is no authorization header. It would be better if the filter only filters requests that should be secured based on the security configuration.

[2017-08-22 03:24] bfwg commented on #33
Hi @szerhusenBC , you are correct. This is how I did to filter base on response path: https://github.com/bfwg/springboot-jwt-starter/blob/master/src/main/java/com/bfwg/security/auth/TokenAuthenticationFilter.java#L50
I imagine there must be a more elegant way to handle this. Please let me know what you think.

[2017-08-26 12:20] hendisantika opened #53 "Error when Upgraded to Spring Boot 1.5.6"
Nice share.
But, I got an Error when Upgraded to Spring Boot 1.5.6.

Will you try to latest version of Spring Boot?

Thanks

[2017-09-11 12:30] szerhusenBC commented on #53
I will check that.

[2017-09-11 13:10] szerhusenBC commented on #53
Hi @hendisantika ,

I just tried the demo with 1.5.6 and got no problems. Did you integrate the demo in you own application? What error do you get?

[2017-09-11 13:24] hendisantika commented on #53
Ooo.. It running well now.
I didn't know.

But, that's OK.

[2017-09-11 13:26] szerhusenBC commented on #53
np ;)

[2017-09-11 13:26] #53 closed

[2017-09-11 20:15] JavaHelper opened #55 "How we can convert the same project into the mongodb ?"

[2017-09-11 20:45] szerhusenBC commented on #55
Please take a look here: #38

[2017-09-11 20:45] #55 closed

[2017-09-24 15:53] genericyzh opened #56 "why choose spring-security,not shiro?"
Hope commitors can explain about technology selection  :)

[2017-09-24 20:12] szerhusenBC commented on #56
I only worked with Spring Security in my projects so far, so I was interested in how to implement JWT with Spring Security. There is no other reason ;)

[2017-09-24 20:12] #56 closed

[2017-09-30 06:13] Fkut opened #57 "please add refresh token"

[2017-09-30 08:41] szerhusenBC commented on #57
This a duplicate for Ticket #20, so I'm closing this ticket.

[2017-09-30 08:41] #57 closed

[2017-10-09 12:45] MrFireman opened #58 "customError"
For some reason the normal error handling is not working with this project.

 I tried to create a new controller which Implements ErrorController, and redirected the /error to my view, but it is keep showing the Whitelabel Error page when for example I try to reach this:
myapp:8000/asd

 Is it because of the Spring Security? Do I have to turn off something to make it work?
 Thank you

[2017-10-09 17:10] bfwg opened #59 "ignoreTokenExpiration is not functioning"
## Summary

If the token is expired, an exception will get thrown when getting the audience. Therefore, you can never get the audience from an expired token.

[2017-10-14 11:30] mb1986 commented on #59
It is desirable behavior of a library which is used to parse JWT - https://github.com/jwtk/jjwt (https://github.com/jwtk/jjwt/blob/master/src/main/java/io/jsonwebtoken/impl/DefaultJwtParser.java#L369).

[2017-10-14 18:17] bfwg commented on #59
Yes, I'm reporting this issue because the part where we are getting the audience from the token is never invoked.
https://github.com/szerhusenBC/jwt-spring-security-demo/blob/master/src/main/java/org/zerhusen/security/JwtTokenUtil.java#L92

[2017-10-14 20:55] mb1986 commented on #59
Oh, I see, you're right. Do you have any idea how to get claims from an expired token?

[2017-10-18 18:02] ThiagoHSouza opened #60 "Encrypt the password"
How can I create a controller to add a user? I don't know how to encrypt the password

[2017-10-18 18:05] #60 closed

[2017-10-24 20:44] SCuvanov opened #61 "How do you do anything? Just got project running."
I get this project running, but going to localhost:8080 shows an alert for username and password. I enter the credentials provided but it literally does nothing except ask again for username and password.

Am I going about doing this wrong? This seems to be an issue with every project I have tried to get running. I get everything going and get hit with this wall.

[2017-11-14 15:27] josevlad opened #63 "How to ExceptionHandler of type ExpiredJwtException from JwtAuthenticationTokenFilter?"
Hi, I want to give an answer to report that the token was expired, try to do this, but it does not work:
in:
JwtAuthenticationTokenFilter => doFilterInternal()

[code]

in
RestResponseExceptionHandler => servletException()

[code]

but the output is always

[code]

and I want it to be like that:

[code]

[2017-11-14 16:52] eduards-v opened #64 "Integrating into microservices architecture (Question)"
Hello,

We want to integrate this demo into Spring Cloud microservices architecture.

We have few questions.

### 1
Do we need to have JwtUser model in authentication service?
We are not going to return any User details from service, but tokens.
Although, it is used in JwtTokenUtil validateToken() method, that seems to be important.

### 2
We need to validate a token for secured end-points in othe

[2017-11-17 07:03] sivakumar-raja opened #65 "Token refresh API end point throws MalformedJwtException"
When the user try to refresh the token by using the **/refresh** API endpoint with **Authorization** as key and **Bearer {exisiting live JWT token}** as value in request header. The response from the server is
[code]

[2017-11-17 14:14] arvraham commented on #44
Just had to deal with this and wanted to know whether there is a "best way to go".

I did the following:

If JwtAuthenticationTokenFilter catches an ExpiredJwtException, mark request as expired:

[code]

And then in JwtAuthenticationEntryPoint we can perform a check:

[code]

Using an expired token will result in something like:

[code]

As far as I know, sending 401 - Unauthorized is the desired

[2017-11-22 09:50] ntota opened #67 "Token validation on change password and logout"
First off all I am very thankful for this demo project. It was well explained.
I need below clarifications,
How to handle token validity when user changed his password? invalidate the current token and redirect him to login page, asking him to login with new password ?
 and in case of User logs out?

[2017-11-22 09:57] davideas commented on #67
Token is not linked to the password value, it's up to you to generate a new one.

[2017-11-22 23:00] AshishHNP commented on #63
It's because the filter comes before Servlet is invoked. ControllerAdvice only applies to the Controller classes.

I'm also trying to find the solution to same problem. Been reading some stackoverflow articles, this one seems promising: https://stackoverflow.com/questions/34595605/how-to-manage-exceptions-thrown-in-filters-in-spring @josevlad

[2017-12-06 14:38] akapit opened #68 "How to avoid token processing when request is of type OPTIONS?"
I see in my logs:

[code]

And it looks like it's going through also at the OPTIONS type of a request.
How can that be avoided?

Thanks

[2017-12-07 08:37] International commented on #65
This happens because in the `refreshAndGetAuthenticationToken`, [this line](https://github.com/szerhusenBC/jwt-spring-security-demo/blob/master/src/main/java/org/zerhusen/security/controller/AuthenticationRestController.java#L63) is trying to call `getUsernameFromToken` using a value such as `Bearer <your_token_here>`, instead of just `<your_token_here>`.

[2017-12-09 15:58] ghost opened #69 "io.jsonwebtoken.ExpiredJwtException: JWT expired at 2017-09-19T00:31:16Z. Current time: 2017-12-09T21:26:44Z, a difference of 7073728267 milliseconds. Allowed clock skew: 0 milliseconds."
Every time when I call the service, I got the below error :

[code]

[2017-12-09 23:46] bfwg commented on #69
Looks like this is related to #59

[2017-12-10 14:07] JavaHelper commented on #69
Whats the solution for this issue ? Please provide details.

[2017-12-12 09:00] bfwg commented on #69
My solution is that instead of ignoring the expiration date, I extend the date.
My implementation: https://github.com/bfwg/springboot-jwt-starter/blob/master/src/main/java/com/bfwg/security/TokenHelper.java#L138

[2017-12-26 20:07] r-n-aliev opened #70 "When we must refresh token?"
Hello, Stephan! Thank you for very good demo, it's very useful.
But i've noticed, that you invokes `refreshAndGetAuthenticationToken(HttpServletRequest request)` method (**/refresh**-controller) only in tests.
But in real life when this method(controller) must be called? When and how system knows, that its time to refresh token?

I can't find any information about this moment, so decided to ask yo

[2018-01-11 23:02] RomanNagornyi commented on #70
Stephan thanks for project.

Found some mistake in refreshing controller

[code]

I have added substring(7) to code.

[2018-01-15 14:43] szerhusenBC commented on #70
Hi @r-n-aliev

After a certain time the token will exceed it's validation time. After that the token won't be accepted by the server anymore. The client has to decide, when to refresh the token. The expiration date is encoded in the token and can be decoded on the client. So the client has the information, that is necessary to device when to perform the refresh.

[2018-01-15 14:44] szerhusenBC commented on #70
@RomanNagornyi Thanks for the fix. I will integrate it soon.

[2018-01-15 14:44] #70 closed

[2018-01-15 15:20] szerhusenBC commented on #50
I decided to take my own implementation.

[2018-01-15 15:20] #50 closed

[2018-01-15 15:20] #65 closed

[2018-01-15 15:28] szerhusenBC commented on #68
I suggest your forgot to set the prefix "Bearer " in your Authorization header field.

This doesn't work:

"Authorization": "my-token-hash"

This should work:

"Authorization": "Bearer my-token-hash"

@akapit Is this helping you?

[2018-01-15 15:33] szerhusenBC commented on #61
I'm afraid I can't help you. I have no problems running and opening the start page of this project. If you really have this problem with EVERY web project you are running, the problem is somewhere in your setup. Maybe you are behind an Apache or nginx server that has an authentication active ...

Because this problem is not related to this project I#m closing this ticket now.

[2018-01-15 15:33] #61 closed

[2018-01-15 15:36] szerhusenBC opened #71 "Update Spring Boot to 1.5.9"

[2018-01-15 16:10] #71 closed

[2018-01-17 18:05] quyle1703 commented on #34
You can get through this very easy! Let's follow me right now

1. Create a shortcut on your desktop
2. Right-click on the shortcut and click Properties
3. Edit the Target property
4. Set it to "C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --disable-web-security --user-data-dir="C:/ChromeDevSession"
5. In VIsual Studio Code, run ionic serve -l
6. You're gonna see new tab open http:/

[2018-01-22 09:10] szerhusenBC commented on #67
@davideas mentioned it, thx ;)

[2018-01-22 09:10] #67 closed

[2018-01-22 13:25] szerhusenBC commented on #60
Take a look at this class _org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder_. I guess you can use it to encode a password string into a bcrypted hash. Otherwise search Google for something like "java bcrypt password".

[2018-01-30 10:58] HoangVyDuong opened #73 "Authenticate in login controller"
Hello Stephan. Thank you for your project. It's really helpful for me.
But I got something not understand. Why you need to perform the authentication and set authentication for SpringContextHolder? It's seem that the login controller do nothing else but generate token. So why don't you just authenticate at JWTAuthenticationTokenFilter?

[2018-01-30 17:01] gdiazs commented on #42
Hi about my original question, but not focus exactly in microservices but maybe for kind tiny projects, I built this.
https://github.com/gdiazs/commons-boot-jwt-security

[2018-01-30 17:23] miloradtrninic commented on #37
I have the same issue. But I don't understand your explanation. Can you please elaborate?

[2018-02-11 07:03] WuTaoyu commented on #63
@AshishHNP Thanks. It works.

[2018-02-12 08:54] pyth0nic opened #74 "Create tables with MySQL"
Hello,

Great demonstration and some beautiful code. I'm having a problem autocreating creating tables in mysql like it does with hBase. Any ideas?

Regards
Adrian

[2018-02-13 04:46] pyth0nic commented on #74
Ended up using flywaydb https://flywaydb.org/ to get the migrations done.

[2018-02-13 04:46] #74 closed

[2018-03-07 11:07] szerhusenBC opened #75 "Migrate to Spring Boot 2"

[2018-03-07 14:13] #75 closed

[2018-03-07 14:17] szerhusenBC commented on #59
I'm closing this ticket because I removed the device/audience support. The mobile starter is actually not supported by Spring Boot 2.

[2018-03-07 14:17] #59 closed

[2018-03-07 14:32] psotos opened #76 "Move to MongoDB"
Hi Stephan,

Most of us are using NoSQL these days. I think it would be best to port this demo to MongoDB since you are moving to Spring Boot 2.0 anyway. Also, since moving to Spring boot 2, are you going to make this in a Reactive Style? Let me know if you need help as I am willing to contribute.

[2018-03-07 14:51] szerhusenBC commented on #33
@bfwg  While migrating to Spring Boot 2 I did some fixes and optimizations. It seems that the filter now only is invoked for the secured URLs. So I'm closing this ticket now.

[2018-03-07 14:51] #33 closed

[2018-03-07 15:22] szerhusenBC commented on #73
@HoangVyDuong You're right, setting the security context in the authentication endpoint doesn't make sense. It's task is only to authenticate the user and generate the token for him. The filter does the authorization and sets the security context so Spring Security knows, what the (previously authenticated) user is allowed to do. So I renamed the filter to "JwtAuthorizationTokenFilter".

As you ca

[2018-03-07 16:14] #73 closed

[2018-03-07 21:50] szerhusenBC commented on #76
Hi Peter,

the scope of this project doesn't lie in a specific kind of database. I assume that people can change the underlying persistence layer themselves. So I won't change it for now.

Furthermore I won't change this project to the reactive style for now. I need the actual approach for myself and a lot people still are using the "old" style. I'm actually focussing on fixing bugs or do some opt

[2018-03-07 22:00] szerhusenBC commented on #64
Sorry for this late response, but I was too busy in the past.

# 1

No, you don't need to take JwtUser. I just wanted to be able to put more information in the user object than it is possible with the common Spring Security User. You have to adapt this sections for your needs.

# 2 and 3

I wouldn't use this apporach in a microservice architecture where I'd have multiple apps. I've done this proje

[2018-03-07 22:00] #64 closed

[2018-03-07 22:02] szerhusenBC commented on #44
Yeah, you're right. I will add this to my dev queue as an enhancement.

[2018-03-08 14:02] psotos commented on #76
Sure I would be happy to help. I've been diving into the reactive style of programming. I have a great handle on it on the front end side with Angular 5 and RXJS, but only beginning at using Spring 5 Reactive and Spring 5 Reactive Security.

[2018-03-15 15:53] manoelfilho commented on #63
@WuTaoyu How are you? I'm here with the same problem. Would you mind show me how you resolved the problem? I created a new Filter in spring (.addFilterBefore(jwtExpiredExceptionHandle, CorsFilter.class), but i can't catch and handle de execption ExpiredJwtException ...
Can you help-me?

[2018-03-20 20:13] andsamp opened #78 "Why aren't you clearing SecurityContext"
The last thing you do in `JwtAuthorizationTokenFilter` is call `chain.doFilter(request, response)`. I'm curious to know why you aren't calling `SecurityContext.clearContext()` or the `context.setAuthentication(null) I`'ve seen in other examples?

Is the `sessionCreationPolicy` effectively taking care of that?

[2018-03-26 22:25] 7carlosz opened #79 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
No 'Access-Control-Allow-Origin' header is present on the requested resource

[2018-03-27 13:16] kle-pra commented on #79
I don't think CORS request support is implemented, but you can easily add a CORS filter.

[2018-03-28 19:46] baskicisamet commented on #63
I created handler filter that catch **JwtException**  like below :
[code]

then  specified it on security config   before Authentication token filter and it return error response excepted.

[2018-04-04 10:50] Waseem-farooqui commented on #34
@jrcastillo thanks for the tip

And if anyone is using **HttpSecurity** then we need to use this

@Override
    protected void configure(HttpSecurity http) throws Exception {
        http.csrf().disable()
                .authorizeRequests()
                .antMatchers(HttpMethod.OPTIONS, "/**").permitAll()//allow CORS option calls
                .antMatchers("/resources/**").permitAll()

[2018-04-10 18:34] lastlink commented on #74
@pyth0nic could you share your code for using flyawaydb w/ this repository?

[2018-04-10 19:11] lastlink opened #81 "auto create tables mysql"
this is a duplicate of the closed issue [#74]

This is how to auto create the tables using https://flywaydb.org/. I figured it out using https://www.callicoder.com/spring-boot-flyway-database-migration-example/.

Basically

Add this dependency to the pom.xml
[code]

`mkdir -p src/main/resources/db/migration`
`touch src/main/resources/db/migration/V1__init.sql`

place this text in there
[code]

Don

[2018-04-10 22:07] lastlink commented on #34
I can not for the life of me get cors to work on this project. I tried all of the above & nothing works. The only change I've been able to get working is applying a filter which only works after the user is already logged in showing the new headers on the response, but still fails a preflight request.

[code]

[2018-04-10 22:29] lastlink commented on #34
update after trying a ton of things the solution for me ended up being the following:

[code]
and adding
[code]
at the top of each controller

[2018-04-11 07:35] szerhusenBC commented on #74
@pyth0nic thanks for your help

[2018-04-11 07:36] szerhusenBC commented on #81
@lastlink thanks for sharing your code!

[2018-04-11 07:36] #81 closed

[2018-04-11 07:37] szerhusenBC commented on #81
Linked this in README.

[2018-04-11 19:23] lastlink opened #82 "tomcat deployment"
Should be able to do a `mvn package` and copy to a tomcat server as a war file. I'm having difficulties setting up the boiler plate.

[2018-04-12 07:04] szerhusenBC commented on #82
To be honest I never did this by myself.

It's documented here: https://docs.spring.io/spring-boot/docs/2.0.0.RELEASE/reference/htmlsingle/#howto-traditional-deployment

[2018-04-12 17:43] lastlink commented on #82
I figured it out, I'm going to do a pull request as this works w/ your current code.

[2018-04-12 17:59] lastlink opened #84 "mysql branch"
could you create a mysql branch so I can do a pull request from https://github.com/lastlink/jwt-spring-security-demo/tree/mysql.
Main reason as the minor changes break h2 memory database support.

[2018-04-25 05:34] safeenashebi opened #86 "Failed to load http://localhost:59790//api/Flight/InsertFlight: Response for preflight has invalid HTTP status code 404."
Get method is working fine.Post method is not working
consoled error as 'Failed to load http://localhost:59790//api/Flight/InsertFlight: Response for preflight has invalid HTTP status code 404.'

code is given below
[code]

[2018-04-25 05:58] safeenashebi opened #87 "how to host angular5 app to local IIS folder"
Have an angular 5 (angular cli) app coded with visual code
backend using webApi in VS 2017.
I am newly with angular coding.How can I publish these two and host to local IIS
pls any body help

[2018-04-26 19:43] lastlink commented on #87
I don't really think that this is related to this project. This is a java spring based api backend. It's not really focused on deployment. If you are using this as your webapi I would not recommend running it on IIS which can run static things like js, html, php, & .net apps. There are ways to make other languages work on them, but would require work on getting them setup. Easiest thing would be t

[2018-04-27 01:25] weibingtie commented on #81
thanks

[2018-04-27 10:09] hamdimefteh commented on #79
I do it and i post it .

[2018-04-27 10:24] hamdimefteh commented on #82
I have solution . I just produce many jar linked with manifestation.mf created by intellij . That work for me !

[2018-04-27 10:49] szerhusenBC commented on #87
@safeenashebi lastlink is right. This isn't related to this project. This project is just about a Java based backend service that is secured with JWT. You should better ask this question at Stackoverflow or similar.

So I'm closing this ticket now.

[2018-04-27 10:49] #87 closed

[2018-04-27 10:57] szerhusenBC commented on #86
@safeenashebi At first you don't need the **double "/"** in your URL.
Second, this is not enough information. There is only a route "InsertFlight". I can't see anything related to the prefix "Flight/". So perhaps it should be "**http://localhost:59790/api/InsertFlight**" ...

404 means that your path is wrong.

Third, I'm closing this ticket, because it isn't related to this project. Better use St

[2018-04-27 10:57] #86 closed

[2018-04-27 11:04] szerhusenBC commented on #84
@lastlink I think, I don't want to maintenance two branches in the future. The scope of this project doesn't lie in implementations for specific databases. I just want to study how JWT can be used and configured for Spring Boot and Spring Security in general. It's more a kind of template that other people can adapt for their requirements. I hope this is understandable ;)

Do you have interesting c

[2018-04-27 11:09] szerhusenBC commented on #79
@7carlosz does it help you?

[2018-04-27 15:28] lastlink commented on #84
this change was specifically for bringing in the mysql support. I suppose it could be just commenting out the dependency in the xml pom file & everything will still work being able to just uncomment to start using mysql.

[2018-05-30 13:10] Dhwanil-Patel commented on #68
Sorry @szerhusenBC but it doesn't work.
I also add same thing but still it not work.
I put debug point on JwtAuthorizationTokenFilter class but  My call doesn't map it.

[2018-06-04 04:14] hafizan opened #88 "filter chain fire mulitple times(3 times)"
i check log evertime the request made.. it will check 3 times. why is that?
log:
2018-06-04 12:12:44.756  WARN 17534 --- [nio-8080-exec-5] o.z.s.JwtAuthenticationTokenFilter       : couldn't find bearer string, will ignore the header
2018-06-04 12:12:44.756  INFO 17534 --- [nio-8080-exec-5] o.z.s.JwtAuthenticationTokenFilter       : checking authentication for user null
2018-06-04 12:12:44.807  WA

[2018-06-12 09:24] szoke opened #89 "How exactly can the request bypass the JwtAuthorizationTokenFilter and reach the token creation endpoint?"
Hi Stephan,

Thanks for your demo project, it is most useful. May I have a question about it?
I am working on an app that implements the same pattern that yours does. The client first logs in by posting their credentials to an endpoint, then the handler method in the controller generates a JWT that is included into the header of subsequent requests (sent to other endpoints). Therefore in the secur

[2018-06-13 12:20] szoke commented on #89
FYI, meanwhile I got an answer on Stack Overflow that proved correct. Please close this question eventually.

[2018-06-13 12:20] #89 closed

[2018-06-13 13:36] szerhusenBC commented on #89
@szoke sorry for not answering your question here. I'm very busy right now. I'm glad to hear that you can solve your problem.

[2018-06-13 13:39] szoke commented on #89
@szerhusenBC Never mind. I hope the answer will be useful for other people stuck with this problem.

[2018-06-25 22:05] osharif12 commented on #69
Just clear cookies and it should work.

[2018-07-01 13:23] vbiginner opened #90 "configuring with postgresql"
Hi Stephan, thanks for the great example.
Instead of using in-memory database I am using postgresql. I have configured it using the properties file as you mentioned in 'Readme'. But its not working. Getting error
[code]
Googled lot about this, not getting the fix. Can you please suggest something..

[2018-07-02 07:35] szerhusenBC commented on #90
Hmm. Hard to say. I never used postgresql with Spring. Maybe there is a tutorial on spring.io?

[2018-07-04 14:57] rocobiz commented on #68
Same issue. Any fixes?

[2018-07-06 07:57] vbiginner commented on #90
okay..Thanks for your response.

[2018-07-23 08:01] data-server opened #92 "access protected resources use appkey and appsecret"
is there some sample case for access protected resources use appkey and appsecret ?

[2018-07-23 08:14] szerhusenBC commented on #92
No, there isn't. This is not in the scope of this demo.

[2018-07-23 08:14] #92 closed

[2018-07-23 08:15] #90 closed

[2018-07-23 08:28] #82 closed, assigned to nobody

[2018-07-23 08:37] szerhusenBC commented on #68
@akapit @rocobiz Sorry for answering that late, I had a lot of work in the last months (not that bad for me ;) ). I think I misunderstood your question before. If I understand you correctly, you do not want OPTION requests to be processed?

If that is the case, you have to exclude this kind of requests in the WebSecurityConfig like that:

`
.authorizeRequests()
      .antMatchers(HttpMethod.OPTION

[2018-07-23 08:38] szerhusenBC commented on #68
Got that from here:

https://stackoverflow.com/questions/21696592/disable-spring-security-for-options-http-method

[2018-07-24 12:05] rajjaiswalsaumya opened #93 "How to set setting clock skew ?"
How to set clock skew ? Is there a way. Currently jwt is failing due to clock skews

[2018-07-24 13:30] szerhusenBC commented on #93
Sorry, but I don't understand your problem. Can you provide more information?

[2018-07-24 14:01] szerhusenBC commented on #88
I tried it with the JS client from the demo and I can't reproduce your problem. I only have one log entry when I request the admin endpoint without authentication. Can you provide more information?

[2018-07-24 14:01] szerhusenBC commented on #79
Closing this ticket now.

[2018-07-24 14:01] #79 closed

[2018-07-28 07:48] velz2020 opened #94 "CrossOrgin"
How to add CrossOrgin for all paths or "/auth". i tried @CrossOrgin annotation and java config, but won't work.

[2018-07-29 04:05] pedroviniv opened #95 "AuthenticationRestController.createAuthenticationToken getting UserDetails twice"
Hi. I was implementing my own stateless authentication using JWT so I was reading your code in order to know how people was implementing this kind of authentication using Spring Security module.

When I was looking the **AuthenticationRestController** code, I noticed that you call **authenticate** method in order to authenticate user credentials delegating that handling to **AuthenticationManager*

[2018-07-29 04:36] pedroviniv commented on #78
I think if the security context is cleared before the authenticated request gets into the controller, the controller wouldn't be able to inject the `Authentication` object which can contain `UserDetails` and `Authority` List in it. (Authentication lives inside the `SpringContext` which lives inside a `ThreadLocal` that can be accessed during the whole thread's life cycle) These data could be read

[2018-07-31 09:42] hafizan commented on #88
i use angular 6 for the frontend. and everytime request made, even for login, it will fire like logs above.

[2018-07-31 09:49] cefothe commented on #88
Can you send us your network monitor ? To see how many requests your client
make

On Tue, 31 Jul 2018, 12:42 hafizan, <notifications@github.com> wrote:

[2018-07-31 12:33] hafizan commented on #88
i try inspect network monitor for request. it looks like it send two request. one OPTIONS method and the other one POST, others request also same, if i send GET request it will together with OPTIONS. so each request become 2.

[2018-07-31 12:40] szerhusenBC commented on #88
OK, this gives us the cause of two log entries. I still don't know why you have three of them. When I perform a request against my demo I only have one entry.

[2018-07-31 12:42] #68 closed

[2018-07-31 12:43] szerhusenBC commented on #88
Perhaps this can help you handling the OPTIONS request:

https://github.com/szerhusenBC/jwt-spring-security-demo/issues/68

[2018-07-31 14:30] szerhusenBC commented on #88
@hafizan You're welcome ;) If it is okay I would close this ticket now.

[2018-08-19 09:44] qamalyanaren opened #96 "Encoded password does not look like BCrypt"
I create register controller

I use         user.setPassword(passwordEncoder.encode(registerRequest.getPassword()));

When login get above error

[2018-08-22 20:40] dkirsanov opened #97 "JwtAuthenticationEntryPoint implements Serializable"
Is there a particular reason why this bean implements Serializable interface? Tried to find some explanations, but had no luck at my search.

[2018-09-01 20:12] rs10615 commented on #81
Description:

Field userRepository in org.zerhusen.security.service.JwtUserDetailsService required a bean named 'entityManagerFactory' that could not be found.

Action:

Consider defining a bean named 'entityManagerFactory' in your configuration.

[2018-09-01 20:13] rs10615 commented on #81
Can you help me out   ,i am unable to run demo

[2018-09-06 09:55] tandrew commented on #22
The current version did not work for me when trying to access it from another domain. It produced the following error:

![image](https://user-images.githubusercontent.com/8017453/45149593-3a095380-b1ca-11e8-92b5-66b8ed466e69.png)

`Failed to load http://localhost:8080/auth: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the re

[2018-09-06 15:31] rafalschmidt97 opened #99 "canTokenBeRefreshed is reduntant"
Hi,
Great work. While reading the code I've found misunderstood with refreshing token. `JwtAuthorizationTokenFilter` use `validateToken` method on almost every requests. Checking `canTokenBeRefreshed` on refresh endpoint is useless because validate contains this condition also. Take a look:

Controller:
[code]
Validate method:
[code]
Can be refreshed method:
[code]

Am I right? Have a nice day!

[2018-09-27 10:18] zohaib85 commented on #94
Same here. any update?

[2018-09-30 07:26] rzl opened #100 "HI, why ADMIN not ROLE_ADMIN ？"
where to add the role ADMIN ?
i not found role ADMIN any where but ROLE_ADMIN
where change ROLE_ADMIN to ADMIN in the code ?

[2018-09-30 07:39] Himly1 commented on #100
What are you talking about?  Please don`t question here unless you find some feature or bug.

[2018-09-30 07:55] rzl commented on #100
sorry . 因为我的英文不是很好。原来你在控制中注释有相关的说明。

[code]

[2018-09-30 07:56] #100 closed

[2018-10-01 10:21] alinmateut opened #101 "Unable to access API via curl"
Whenever I try to run in my terminal
`curl localhost:8080/auth --data "username=admin&password=admin"`
it gives me an 401 Unauthorized status. How can I fix this?

[2018-10-10 22:32] cbvictorio commented on #101
On your curl command, are you specifying the method request flag, i think it is "-X POST"

[2019-01-08 08:46] challengezhou commented on #96
what's the password you set to `UserDetails`?
`BCryptPasswordEncoder` will call a `pattern.matches` first before verify the password
The pattern is `\A\$2a?\$\d\d\$[./0-9A-Za-z]{53}`
hashed password should like `$2a$10$9Co6Sm0piVTUn8DVuZFH8.YLj10BS1eHPnDLAHqhff0CsQXCxP4Dq`

[2019-01-08 09:59] Oluwaseun-Smart opened #102 "Token Invalidation"
Hi Stephan,

I will like to know if there's a way to invalidate a token when a user logout?

Once a user log out and the token has not expired yet, i want the token to be invalid token that will give an unauthorized error to any request by the user using the token again.

Thank you.

[2019-01-08 16:58] szerhusenBC commented on #102
Hi @Oluwaseun-Smart ,

there are different approaches you could do that. Here's is a discussion from Stackoverflow:

https://stackoverflow.com/questions/21978658/invalidating-json-web-tokens

I hope, that helps you.

[2019-01-08 16:58] #102 closed

[2019-01-25 10:42] hamdimefteh commented on #102
if you use angular Sir , you can simply delete the local token !

[2019-01-25 11:35] szerhusenBC commented on #102
You're right. But the problem is, that you still could use the token (if you somehow copied it before etc.), because the app would say that it is valid. The question is how to invalidate it so you can't use it anymore after logout.

[2019-01-25 13:52] hamdimefteh commented on #102
i made a token with 30min validation period : so no time ti use it again !

[2019-01-25 13:59] szerhusenBC commented on #102
This may be a solution. But then you have to refresh it at least every 30 mins to keep it valid, right?

[2019-02-04 07:33] lolkedijkstra opened #103 "dependency injection problem"
I have problems getting started with the project. See list of errors down here.
Any help would be much appreciated )

**List of errors**
Unable to start embedded Tomcat..
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'jwtAuthorizationTokenFilter'
Caused by: org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating

[2019-02-18 14:37] szerhusenBC commented on #94
That should do it:

https://docs.spring.io/spring-security/site/docs/5.0.x/reference/html/cors.html

[2019-02-18 14:37] #94 closed

[2019-03-17 10:28] houssem8520 commented on #20
how can we  refresh an expired token , because while i try to get claims from the expired token  i get an ExpiredJwtException

[2019-03-17 10:58] houssem8520 commented on #70
Hi! Stephan,
how can we refresh an expired token ?

[2019-03-17 11:55] szerhusenBC commented on #70
You have to call the endpoint under _/refresh_ with your "old" token and you will receive a new one. Your old has still to be valid at this time.

[2019-03-17 11:56] szerhusenBC commented on #20
It gave an answer here:

https://github.com/szerhusenBC/jwt-spring-security-demo/issues/70#issuecomment-473658364

[2019-03-17 12:28] houssem8520 commented on #70
thanks for your quick answer , but i ve tried to create an angular application that cousumes the authentication api i stored the token in the local storage  every time the client tried to get a resource the intercepter verify if the token is expired and when it expired i tried to get a refreshed token from the expired token

[2019-03-18 09:27] szerhusenBC commented on #70
When the token is expired, it is too late to refresh him because he is not accepted anymore. You have to refresh him **before** he's getting expired.

A small request from me, please use the dot as a punctuation mark, otherwise your posts are difficult to read ;)

[2019-03-18 09:40] houssem8520 commented on #70
i am sorry for my poor english , thanks for your response :)

[2019-04-06 14:10] ccennis commented on #101
i am also having this issue and i am doing it both with postman and passing it with "-X POST" --  no matter what it returns 401 Unauthorized.

[2019-06-24 11:55] kambleaa007 commented on #81
no comments replys

[2019-07-22 16:21] sathiyaraj-tag opened #104 "Share DB schema"
Hi,  I'm trying to connect my sql database with your code. Can you share your db schema

[2019-07-23 01:15] guantianmin commented on #104
发件人：sathiyaraj_tag <notifications@github.com>
发送日期：2019-07-23 00:21:54
收件人：szerhusenBC/jwt-spring-security-demo <jwt-spring-security-demo@noreply.github.com>
抄送人：Subscribed <subscribed@noreply.github.com>
主题：[szerhusenBC/jwt-spring-security-demo] Share DB schema (#104)
Hi, I'm trying to connect my sql database with your code. Can you share your db schema
—
You are receiving this because you are su

[2019-09-10 17:51] szerhusenBC commented on #103
Closed, because I published a complete new version.

[2019-09-10 17:51] #103 closed

[2019-09-10 17:51] szerhusenBC commented on #101
Closed, because I published a complete new version.

[2019-09-10 17:51] szerhusenBC commented on #99
Closed, because I published a complete new version.

[2019-09-10 17:51] #99 closed

[2019-09-10 17:51] szerhusenBC commented on #97
Closed, because I published a complete new version.

[2019-09-10 17:51] #97 closed

[2019-09-10 17:52] szerhusenBC commented on #101
Closed, because I published a complete new version.

[2019-09-10 17:52] #101 closed

[2019-09-10 17:52] szerhusenBC commented on #96
Closed, because I published a complete new version.

[2019-09-10 17:52] #96 closed

[2019-09-10 17:52] szerhusenBC commented on #95
Closed, because I published a complete new version.

[2019-09-10 17:52] #95 closed

[2019-09-10 17:52] szerhusenBC commented on #93
Closed, because I published a complete new version.

[2019-09-10 17:52] #93 closed

[2019-09-10 17:52] szerhusenBC commented on #88
Closed, because I published a complete new version.

[2019-09-10 17:52] #88 closed

[2019-09-10 17:52] szerhusenBC commented on #78
Closed, because I published a complete new version.

[2019-09-10 17:52] #78 closed

[2019-09-10 17:53] szerhusenBC commented on #69
Closed, because I published a complete new version.

[2019-09-10 17:53] #69 closed

[2019-09-10 17:53] szerhusenBC commented on #63
Closed, because I published a complete new version.

[2019-09-10 17:53] #63 closed

[2019-09-10 17:53] szerhusenBC commented on #58
Closed, because I published a complete new version.

[2019-09-10 17:53] #58 closed

[2019-09-10 17:53] szerhusenBC commented on #45
Closed, because I published a complete new version.

[2019-09-10 17:53] #45 closed

[2019-09-10 17:53] szerhusenBC commented on #44
Closed, because I published a complete new version.

[2019-09-10 17:53] #44 closed

[2019-09-10 17:53] szerhusenBC commented on #43
Closed, because I published a complete new version.

[2019-09-10 17:53] #43 closed

[2019-09-10 17:53] szerhusenBC commented on #31
Closed, because I published a complete new version.

[2019-09-10 17:53] #31 closed

[2019-09-10 17:53] szerhusenBC commented on #20
Closed, because I published a complete new version.

[2019-09-10 17:53] #20 closed

[2019-09-10 17:54] szerhusenBC commented on #76
Closed, because I published a complete new version.

[2019-09-10 17:54] #76 closed

[2019-09-10 17:55] szerhusenBC commented on #104
Just start the demo and you can see the schema in the H2-Console under _/h2-console_

[2019-09-10 17:55] #104 closed

[2019-11-22 08:58] linchen2chris opened #107 "String cannot be resolved to a type"
I am java fresher, I just clone and run mvn spring-boot:run, and got error
"String cannot be resolved to a type"

I am using open-jdk 11

[2019-12-06 11:26] szerhusenBC commented on #107
@linchen2chris Hi, I can't reproduce this. When I start the project via Maven with OpenJDK 11.0.2 I have no problems. I downloaded the JDK from http://jdk.java.net/archive/

When you execute the command "java --version" in your console what does it say?

[2020-01-03 01:30] szerhusenBC commented on #107
Closed this one due to inactivity.

[2020-01-03 01:30] #107 closed, assigned to nobody

[2020-01-07 19:11] joeyUOFA opened #108 "where does BCryptPasswordEncoder be used?"
Hi,

I saw PasswordEncoder is defined, but it is not been used in any where. How do you verify the password when use logs in?

Thanks

[2020-01-31 09:33] maxwellt commented on #108
It is registered as a bean in the [WebSecurityConfig](https://github.com/szerhusenBC/jwt-spring-security-demo/blob/56f5fb0a94a0d9afa40a3966836baf4f23a13af3/src/main/java/org/zerhusen/config/WebSecurityConfig.java).

[2020-03-09 12:22] jmdopereiro commented on #20
Hi Stephan, thank you for the demo!

I assume that in the new version you have removed the refresh token feature right ?

I guess is because it could be a vulnerability ? What do you think about Blacklisting tokens ?

Please let me know if I should open another issue for my questions.

[2020-03-09 12:33] szerhusenBC commented on #20
Hi @jmdopereiro ,

I didn't implement the refresh endpoint so far, because I didn't find the time for that, yet ;)

There was already a question about blacklisting / invalidating tokens:

https://github.com/szerhusenBC/jwt-spring-security-demo/issues/102

[2020-03-09 13:00] szerhusenBC commented on #108
@joeyUOFA : Like @maxwellt already mentioned it, it's configured as a @Bean and Spring is using it automatically as password decoder.

[2020-03-09 13:00] #108 closed, assigned to nobody

[2020-03-09 14:12] jmdopereiro commented on #20
Hi Stephan, is it ok for you if I create a branch with the refresh endpoint ?

Thanks

Jose

[2020-03-10 09:15] szerhusenBC opened #109 "Add an endpoint for refreshing tokens"
There should be an endpoint to refresh tokens before they expire. You should get a new token. Tokens which are expired should be decline.

[2020-03-10 09:16] szerhusenBC commented on #20
@jmdopereiro yeah, do it! I created a new issue for that #109

[2020-03-28 09:15] jmdopereiro commented on #20
Hi Stephan, sorry for the delay, this crisis made me to switch gears.

I saw the ticket, I will continue commenting on it.

Thanks!

[2020-03-28 09:42] jmdopereiro commented on #109
I created the endpoint in a new local branch.

If the current token is expired it returns 401, if not it returns a new token.

I can create a PR for you to review, I think i would need your permission to push ? :-)

Thanks

Jose

[2020-04-07 19:01] szerhusenBC commented on #109
@jmdopereiro Sorry for that late answer! Just create a pull request so that I can review and merge it.

[2020-04-09 14:37] jmdopereiro commented on #109
Hi Stephan, I have created a local branch and committed the changes to it, but when I try to push it (not sure I can create the PR without pushing first my branch) I get a 403.

![403Pushing](https://user-images.githubusercontent.com/7406837/78907161-a1f7de00-7a80-11ea-99f0-bef38b886ddf.png)

[2020-04-09 15:02] szerhusenBC commented on #109
Ah, OK. The normal way is to fork this project, create a new branch on your forked project and then create a PR. Could you try that?

[2020-04-09 15:18] jmdopereiro commented on #109
yeap ok, I did it, what do you think ?

[2020-04-09 19:47] szerhusenBC commented on #109
I saw it, looks good so far. One thing, did you check, that I fails, if the token you want to refresh is too old? I can't test it myself right  now. It shouldn't be possible to refresh a token, that is too old.

[2020-04-13 09:40] jmdopereiro commented on #109
That's right (sorry I had some troubles with my browser cache). I just retested, decreased the token-validity-in-seconds to 120 and then waited 2 minutes, the new token api is protected as the rest by the JWTFilter so when the current token is expired it doesn't refresh the token but returns 401. Here you have a postman screenshot and the application logs.

![TokenExpiredOnRefreshToken](https://us

[2020-06-02 16:16] gafarma89 opened #111 "SecurityContextHolder setAuthentication is unused?"
Hi

first thank for your sharing...

I would like to ask why we need this:

[code]

source:

https://github.com/szerhusenBC/jwt-spring-security-demo/blob/master/src/main/java/org/zerhusen/security/rest/AuthenticationRestController.java#L44

@PostMapping("/authenticate") method returns only header from controller. Is there any reason of above line? If not, can we remove it?

Thank you

[2021-04-16 09:11] azharsaad commented on #68
not resolved yet

[2021-06-19 01:14] Toerktumlare opened #113 "setting JWTs in local storage is a security risk."
Setting JWTs in local storage is bad practice according to OWASP, and makes JWTs suceptible to session steal through for instance an XSS.

https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html#local-storage

and

[2021-06-19 15:40] szerhusenBC commented on #113
Thanks for that hint, I will change that.

[2021-07-29 18:10] ricardogusi opened #114 "Save new user"
Hi, first of all thank you so much for this application.
Sorry about the "silly" question but how do I register a new user?
I've created this:
@PostMapping("/register")
	public ResponseEntity<User> saveUser(@RequestBody User user) {
		return ResponseEntity.ok(repository.save(user));

	}

and on postaman for example tried this:

{
    "username": "ricardo",
    "password": "123456",
    "firstname"

[2021-10-04 02:40] CVEDetect opened #115 "Dependency org.apache.tomcat.embed:tomcat-embed-core, leading to CVE problem"
Hi, In **jwt-spring-security-demo**，there is a dependency **org.apache.tomcat.embed:tomcat-embed-core:8.5.23** that calls the risk method.

[CVE-2018-8014](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-8014)

The scope of this CVE affected version is **[,5.4.24.Final)**

After further analysis, in this project, the main Api called is **<org.apache.catalina.filters.CorsFilter: void handle

[2021-10-04 02:41] CVEDetect commented on #115
@szerhusenBC
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2021-10-29 12:47] CVEDetect commented on #115
Hi, In **jwt-spring-security-demo**，there is a dependency **org.apache.tomcat.embed:tomcat-embed-core:8.5.23** that calls the risk method.

[CVE-2018-8014](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-8014)

The scope of this CVE affected version is **[,5.4.24.Final)**

After further analysis, in this project, the main Api called is **<org.apache.catalina.filters.CorsFilter: void handle

[2021-10-29 12:47] #115 closed, assigned to nobody

[2021-10-29 12:58] CVEDetect opened #116 "Dependency org.apache.tomcat.embed:tomcat-embed-core, leading to CVE problem"
Hi, In **jwt-spring-security-demo**，there is a dependency **org.apache.tomcat.embed:tomcat-embed-core:8.5.23** that calls the risk method.

[CVE-2018-8014](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-8014)

The scope of this CVE affected version is **[,7.0.89),[8.0.0, 8.0.53),[8.5.0, 8.5.32),[9.0.0, 9.0.9)**

After further analysis, in this project, the main Api called is **<org.apache

[2021-10-29 13:55] CVEDetect commented on #116
@szerhusenBC
Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2022-04-30 12:18] enverefe12 commented on #81
I did everything like you told. But i was got an error.
Why am i getting this error?

`java.lang.IllegalStateException: Failed to introspect Class [org.springframework.boot.autoconfigure.flyway.FlywayAutoConfiguration$FlywayConfiguration] from ClassLoader [jdk.internal.loader.ClassLoaders$AppClassLoader@6f94fa3e]`

[2022-08-14 14:37] jmdopereiro opened #119 "Error executing DDL "# noinspection SqlNoDataSourceInspectionForFile" via JDBC Statement"
I am getting the following error when running the default H2 database:

Error executing DDL "# noinspection SqlNoDataSourceInspectionForFile" via JDBC Statement

org.hibernate.tool.schema.spi.CommandAcceptanceException: Error executing DDL "# noinspection SqlNoDataSourceInspectionForFile" via JDBC Statement
        at org.hibernate.tool.schema.internal.exec.GenerationTargetToDatabase.accept(Genera